* {
    margin: 0 auto;
    padding: 0;
}
#bgphoto {
    background-image: url("../src/img/bgimage.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.justify-between {
    justify-content: space between;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.primary_container {
    width: 1280px;
    margin: 0 auto;
}
.align-center {
    align-items: center;
}
.row {
    display: flex;
}
.nav_links {
    list-style: none;
    display: flex;
    gap: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}
.mini_icons {
    margin-top: 20px;
    Width: 20px;
    Height: 20px;
    gap: 32px;
}
.banner {
    background: rgba(206, 206, 206, 0.57);
    backdrop-filter: blur(9.5px);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
}
h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    color: #FFFFFF;
    margin-left: 0px;
    margin-top: 276px;
}
.btitle p {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 38px;
    margin-left: 0px;
}
.navbar {
    gap: 56px;
    margin-top: 16px;
    margin-left: 0px;
}
.dir-column {
    flex-direction: column;
}
#aboutus {
    margin-top: 102px;
    margin-left: 50px;
}
.col-5 {
    width: 45%;
}
col-6 {
    width: 50%;
}
h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    text-transform: capitalize;
}
p {
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #373737;
}
.primary_btn {
    background: #9F7464;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 50px;
    padding: 12px 46px;
    border-style: none;
}
#info {
    margin-top: 102px;
}
#slide {
    margin-top: 100px;
    margin-left: 80px;
}
.slide_container {
    gap: 30px;
}
.guide_title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 102px;
}
.info_photo1 {
    position: relative;
    left: 200px;
    top: 60px
}
.info_photo2 {
    position: relative;
}
.secondary_btn {
    background: #9F7464;
    border-radius: 15px;
    width: 71px;
    height: 31px;
    border-style: none;
    position: relative;
    top: 8px
}
.mini_btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2F2F2F;
    background: #FFFFFF;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border-style: none;
    position: relative;
    right: 70px;
}
#guide {
    margin-top: 74px;
}
.guide_container {
    gap: 150px
}
.advices {
    margin-left: 40px;
}
#advertisement {
    margin-top: 120px;
}
.adv_container {
    margin-left: 40px;
}
.photo_slide :nth-child(2) {
    margin-top: 80px;
}
.photo_slide :nth-child(1) {
    margin-top: 102px
}
.photo_slide :nth-child(3) {
    margin-top: 102px;
}
#blog {
    margin-top: 120px;
}
#down {
    background: #9F7464;
    margin-top: 150px;
}
.footer_cont {
    gap: 128px
}
.footer_cont h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}
.footer_cont p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer_cont li {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}
.last_info {
    text-align: center;
}
.last_info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
}
.last_line {
    background: #D0D0D0;
    border-radius: 20px;
    width: 1200px;
    height: 1px;
    margin-top: 50px;
}
.logo {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    position: relative;
    left: 80px;
}
.logotitle {
    position: relative;
    right: 140px;
}